<template>
    <div class="row<">
        <deces-tairf-panel v-if="myService==='/tarif'"></deces-tairf-panel>
        <deces-devis-panel v-if="myService==='/devis'"></deces-devis-panel>
        <deces-da-panel v-if="myService==='/police'"></deces-da-panel>
    </div>
</template>

<script>
import TarifDecesPanel from '@/components/testplatform/deces/Deces-Tarif';
import DevisDecesPanel from '@/components/testplatform/deces/Deces-Devis';
import DaDecesPanel from '@/components/testplatform/deces/Deces-DA';

export default {
  props: {
    myService: {
      type: String,
    },
  },
  components: {
    'deces-tairf-panel': TarifDecesPanel,
    'deces-devis-panel': DevisDecesPanel,
    'deces-da-panel': DaDecesPanel,
  },
};
</script>

<style scoped>

</style>
