<template>
  <div>
    <div class="form-group">
                      <h3>Sport A Risque</h3>
                      <div class="row">
                        <div class="col-xs-2">
                          <button type="button"
                            @click="addNewSport"
                            class="btn btn-block btn-success">
                            Add +
                          </button>
                      </div>
                     </div>
                     <div v-for="(sport, index) in sports" v-bind:key="index">
            <div class="row">
                <div class="col-xs-2">
                    <label>&nbsp;</label>
                    <button type="button"
                    v-on:click="removeSport(index)"
                    class="btn btn-block btn-danger">
                        Rem -
                    </button>
                </div>
                <div class="form-group col-xs-5">
                    <label>Code</label>
                    <input v-model="sports[index].code" type="text"
                           name="sports[][code]" class="form-control" placeholder="Code">
                </div>
                <div class="form-group col-xs-5">
                    <label>Label</label>
                    <input v-model="sports[index].label" type="text"
                           name="sports[][label]" class="form-control" placeholder="Label">
                </div>
            </div>
        </div>
      </div>
      <hr>
    <div class="form-group">
                    <label for="file">File for Tarif Deces</label>
                        <input
                            type="file"
                            id="file"
                            ref="file"
                            class="form-control"
                            @change="handleFile">
    </div>
    <hr>
  </div>
</template>

<script>
import parseXlsx from 'read-excel-file';

const tarifJasonInput = require('./../../../../scripts/services/defaults/deces/deces-tarif.json');

export default {
  data() {
    return {
      file: '',
      input: {},
      sport: {
        code: '',
        label: '',
      },
      sports: [],
    };
  },
  methods: {
    handleFile(event) {
      const files = event.target.files;
      this.file = files[0];
      parseXlsx(this.file).then((rows) => {
        let i = 0;
        const jsonData = tarifJasonInput;
        // eslint-disable-next-line
        for (i = 0; i < rows.length; ++i) {
          jsonData[rows[i][0]] = rows[i][1];
        }
        jsonData.sportARisques = this.sports;
        this.input = jsonData;
        this.$emit('fileUploaded', this.input);
      });
    },
    addNewSport() {
      const sport = {};
      this.sports.push(sport);
    },
    removeSport(index) {
      this.sports.splice(index, 1);
    },
  },
};
</script>

<style scoped>
</style>
