<template>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h3>Welcome to the Sigma Managers Platform</h3>
                    <hr>
                    <div class="form-group">
                      <p>Select which product you want to test</p>
                      <label for="obseques">
                        <input
                          type="radio"
                          id="obseques"
                          value="/obseques"
                          v-model="product"
                          @change="determineFullServiceName"> Obseque
                      </label>
                      <label for="deces">
                        <input
                          type="radio"
                          id="deces"
                          value="/deces"
                          v-model="product"
                          @change="determineFullServiceName"> Décès
                      </label>
                      <label for="gav">
                        <input
                          type="radio"
                          id="gav"
                          value="/accidentVie"
                          v-model="product"
                          @change="determineFullServiceName"> Gav
                      </label>
                    </div>
                    <hr>
                    <div class="form-group">
                      <p>Select which service you want to test</p>
                      <label for="tarif">
                        <input
                          type="radio"
                          id="tarif"
                          value="/tarif"
                          v-model="service"
                          @change="determineFullServiceName"> Tarif
                      </label>
                      <label for="devis">
                        <input
                          type="radio"
                          id="devis"
                          value="/devis"
                          v-model="service"
                          @change="determineFullServiceName"> Devis
                      </label>
                      <label for="police">
                        <input
                          type="radio"
                          id="police"
                          value="/police"
                          v-model="service"
                          @change="determineFullServiceName"> Demande Assurance
                      </label>
                    </div>
                    <hr>
                    <p>Please send me the token you want to use</p>
                    <p><a href="https://hvmv0175.vt.macif.fr/meccanoR7aesio/" target="_blank">Choose the token</a>


                    <div class="form-group">
                        <label for="token">Token</label>
                        <input
                                type="text"
                                id="token"
                                class="form-control"
                                v-model="serviceCallData.token">
                    </div>
                <div class="row">
                <hr>
                <div class="row">
                <obseques-panel v-if="product==='/obseques'" :myService="service"></obseques-panel>
                <deces-panel v-if="product==='/deces'" :myService="service"></deces-panel>
                <gav-panel v-if="product==='/accidentVie'" :myService="service"></gav-panel>
            </div>
            </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <button type="button"
                            class="btn btn-success btn-block"
                            @click="submitForm">Submit!
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Token: {{ serviceCallData.token }}</p>
                        <p>The tarif is: {{ output }}</p>
                        <p>The fulle service name: {{ serviceCallData.endServicePath }}</p>
                        <p>The input is: {{ serviceCallData.input }}</p>
                    </div>
                </div>
                <div class="row">
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import ObsequesPenel from '@/components/testplatform/obseques/Obseques-Panel';
import DecesPanel from '@/components/testplatform/deces/Deces-Panel';
import GavPanel from '@/components/testplatform/gav/Gav-Panel';
import { eventBuss } from './../../main';

const axios = require('axios');

export default {
  data() {
    return {
      isFomrSubmitted: false,
      file: null,
      output: {},
      product: '',
      service: '',
      serviceCallData: {
        endServicePath: '',
        token: '',
        input: {},
      },
    };
  },
  methods: {
    submitForm() {
      axios.post('/', this.serviceCallData)
        .then((response) => {
          const data = response.data.details.jsonResponse;
          this.output = JSON.stringify(data);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(`Error: ${error}`);
        });
    },
    determineFullServiceName() {
      this.serviceCallData.endServicePath = `${this.product}${this.service}`;
    },
  },
  components: {
    'obseques-panel': ObsequesPenel,
    'deces-panel': DecesPanel,
    'gav-panel': GavPanel,
  },
  created() {
    eventBuss.$on('fileUploaded', (file) => {
      this.serviceCallData.input = file;
    });
  },
};
</script>

<style>
</style>
