<template>
  <div class="form-group">
                    <label for="file">File for Devis Obseques</label>
                        <input
                            type="file"
                            id="file"
                            ref="file"
                            class="form-control"
                            @change="handleFile">
                </div>
</template>

<script>
import parseXlsx from 'read-excel-file';

const tarifJasonInput = require('./../../../../scripts/services/defaults/obseques/obseques-devis.json');

export default {
  data() {
    return {
      file: '',
      input: {},
    };
  },
  methods: {
    handleFile(event) {
      const files = event.target.files;
      this.file = files[0];
      parseXlsx(this.file).then((rows) => {
        let i = 0;
        const jsonData = tarifJasonInput;
        // eslint-disable-next-line
        for (i = 0; i < rows.length; ++i) {
          jsonData[rows[i][0]] = rows[i][1];
        }
        this.input = jsonData;
        this.$emit('fileUploaded', this.input);
      });
    },
  },
};
</script>

<style scoped>
</style>
