<template>
    <div class="container">
        <obseques-tarif-panel v-if="myService==='/tarif'"></obseques-tarif-panel>
        <obseques-devis-panel v-if="myService==='/devis'"></obseques-devis-panel>
        <obseques-da-panel v-if="myService==='/police'"></obseques-da-panel>
    </div>
</template>

<script>
import TarifObsequesPanel from '@/components/testplatform/obseques/Obseques-Tarif';
import DevisObseuqesPanel from '@/components/testplatform/obseques/Obseques-Devis';
import DaObseques from '@/components/testplatform/obseques/Obseques-DA';

export default {
  props: {
    myService: {
      type: String,
    },
  },
  components: {
    'obseques-tarif-panel': TarifObsequesPanel,
    'obseques-devis-panel': DevisObseuqesPanel,
    'obseques-da-panel': DaObseques,
  },
};
</script>
