<template>
  <div class="container">
    <testing-panel></testing-panel>
  </div>
</template>

<script>
import TestingPanel from '@/components/testplatform/TestingPanel';

export default {
  components: {
    'testing-panel': TestingPanel,
  },
};
</script>
<style>

</style>
