<template>
    <div class="container">
        <gav-tarif-panel v-if="myService==='/tarif'"></gav-tarif-panel>
        <gav-devis-panel v-if="myService==='/devis'"></gav-devis-panel>
        <gav-da-panel v-if="myService==='/police'"></gav-da-panel>
    </div>
</template>

<script>
import TarifGavPanel from '@/components/testplatform/gav/Gav-Tarif';
import DevisGavPanel from '@/components/testplatform/gav/Gav-Devis';
import DaGavPanel from '@/components/testplatform/gav/Gav-DA';

export default {
  props: {
    myService: {
      type: String,
    },
  },
  components: {
    'gav-tarif-panel': TarifGavPanel,
    'gav-devis-panel': DevisGavPanel,
    'gav-da-panel': DaGavPanel,
  },
};
</script>
