<template>
    <div class="container">
        <form v-if="!isFomrSubmitted">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1>Do you want to store your data?</h1>
                    <hr>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input
                                type="text"
                                id="firstName"
                                class="form-control"
                                v-model="userData.firstName"
                                @input="concatNames">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input
                                type="text"
                                id="lastName"
                                class="form-control"
                                v-model="userData.lastName"
                                @input="concatNames">
                    </div>
                    <!-- <app-full-name v-model="fullName"></app-full-name> -->
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input
                                type="text"
                                id="email"
                                class="form-control"
                                v-model="userData.email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                id="password"
                                class="form-control"
                                v-model="userData.password">
                    </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-8
                    col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                        <label for="dataStore">
                            <input
                                type="radio"
                                id="dataStore"
                                value="true"
                                v-model="isDataAllowedToStore"> Yes
                        </label>
                        <label for="dataNotStore">
                            <input
                                type="radio"
                                id="dataNotStore"
                                value="false"
                                v-model="isDataAllowedToStore"> No
                        </label>
                </div>
                <div class="row">
                <div class="form-group">
                    <label for="file">File</label>
                        <input
                            type="file"
                            id="file"
                            ref="file"
                            class="form-control"
                            @change="handleFile">
                </div>
            </div>
            </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <button
                            class="btn btn-primary"
                            @click.prevent="submitForm">Submit!
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row" v-if="isFomrSubmitted">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{ fullName }}</p>
                        <p>Mail: {{ userData.email }} </p>
                        <p>Password: {{ userData.password }}</p>
                        <p>Store in Database?: {{ isDataAllowedToStore }}</p>
                        <p>The users: {{ users }}</p>
                    </div>
                </div>
                <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <button
                            class="btn btn-primary"
                            @click="unSubmitForm">Modify!
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import FullName from '@/components/forms/FullName';
import parseXlsx from 'read-excel-file';

// const XLSX = require('xlsx');

export default {
  data() {
    return {
      userData: {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        loading: false,
        model: {},
      },
      fullName: '',
      isDataAllowedToStore: false,
      isFomrSubmitted: false,
      file: '',
      users: [],
    };
  },
  methods: {
    concatNames() {
      this.fullName = `${this.userData.firstName}  ${this.userData.lastName}`;
    },
    submitForm() {
      const user = [{
        firstName: `${this.userData.firstName}`,
        lastName: `${this.userData.lastName}`,
        email: `${this.userData.email}`,
        Password: `${this.userData.password}`,
      }];
      this.populateUserToEdit(user);
      this.isFomrSubmitted = true;
    },
    unSubmitForm() {
      this.isFomrSubmitted = false;
    },
    handleFile(event) {
      const files = event.target.files;
      this.file = files[0];
      // const workbook = XLSX.readFile(this.file);
      // eslint-disable-next-line
      console.log("WorkBook length: ");
      // const sheetName = workbook.SheetNames[1];
      // const workSheet = workbook.Sheets[sheetName];
      // eslint-disable-next-line
      // console.log(workSheet);
      // eslint-disable-next-line
      // console.log(workbook.SheetNames[0]);
      parseXlsx(this.file).then((rows) => {
        let i = 0;
        const jsonData = {};
        // eslint-disable-next-line
        for (i = 0; i < rows.length; ++i) {
          jsonData[rows[i][0]] = rows[i][1];
        }
        // eslint-disable-next-line
        console.log('Hi: ');
        // eslint-disable-next-line
        console.log(JSON.stringify(jsonData));
      });
    },
    populateUserToEdit(user) {
      // eslint-disable-next-line
      console.log(user)
      axios.get('http://localhost:3002/users', user)
        .then((response) => {
          // eslint-disable-next-line
          console.log(user);
          this.users.push(response.data);
          // eslint-disable-next-line
          console.log(response);
          // thisusers.push(response);
        });
      /**
        .catch((error) => {
          // eslint-disable-next-line
          console.log(`The erro: ${error}`);
        }); */
    },
  },
  components: {
    'app-full-name': FullName,
  },
};
</script>

<style>
</style>
